.postPage {
  background: #40644d;
  display: grid;
  justify-content: center;
  align-items: center;

  .postList {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }
}
