.singlePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .postHero {
    display: grid;
    justify-items: center;
    h1 {
      font-size: 34px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      max-width: 50%;
    }
  }

  .aboutAuthor {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;

    .image {
      display: grid;
      gap: 0.5rem;
      justify-self: end;
    }
    p {
      margin: 0;
      max-width: 40%;
    }
  }
}
