.postCard {
  border: 1px solid black;
  background-color: #464d77;
  padding: 1rem;
  border-radius: 1rem;
  color: #fcf7f8;
  p {
    color: #f9db6d;
  }

  span {
    color: #36827f;
  }

  li {
    color: #f4eded;
  }
}
